// define reusable classes (positioning, button types, lines)
@import "variables.scss";
.text-align-center {
  text-align: center;
}

.invisible {
  display: none;
}

.hidden {
  visibility: hidden;
}


.item-btn {
  padding: 20px 20px;
  border-radius: 5px;
  margin: 0 10px;
  border: none;
  outline: none;
  background-color: #9fcdff;
  cursor: pointer;
  &:hover {
    background-color: #7abaff;
  }
}

 .item {
  margin-top: 20px;
   min-width: 30%;
  padding: 20px 20px;
  background-color: $bg-main;
  border-radius: 10px;
  list-style: none;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
//Align elements in a container

.align-elem-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.align-elem-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// margins

.mg-left {
  margin-left: 20px;
}