// define reusable properties (text color, bg color etc)

$bg-main: #f8f9fa;
$bg-secondary: #ded9d9;
$bg-logo: #243665;
$bg-hover: #8bD8bd;
$border-color: #cccccc;
$toggle-btn-color: #007BFF;
$hover-toggle-btn: #0b8cec;
$dark-blue: #2B3252;
$yellow: #FAD744;